.div_menu{
  background-color: black;
  color:white;
}
.menu{
  color:white;
  text-decoration: none;
}
.slider-div{
text-align: center;
}
.footer{
  text-align: center;
  color: white;
}
.footer-alamat{
  text-align: center;
  color: white;
}
footer{
  background-color: black;
}
